.row {
  display: flex;
  flex-direction: row;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.row {
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.background {
  position: absolute;
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(34, 34, 34, 1) 12%,
    rgba(34, 34, 34, 1) 75%,
    rgba(16, 16, 16, 1) 100%
  );
  width: 100%;
  height: 100%;
}

.centered-title {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  overflow: hidden;
  white-space: nowrap;
}

.highlighted-area {
  border-radius: 10px;
  background: #333;
  font-family: "MS PGothic";
  color: #ccc;
}

.clear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.text-input {
  border-radius: 5px;
  background: #ccc;
  color: #000;
  border: none;
  padding: 3;
  font: inherit;
  outline: inherit;
}

.clear-text-input {
  background: none;
  color: #ccc;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.app-button {
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: #505050;
  border: 3px solid #ed1b24;
  border-radius: 10px;
  font-family: "MS PGothic";
  color: #ccc;
  font-weight: bold;
}

.app-button:hover {
  background: #606060;
}

.app-button:active {
  background: #505050;
}

.app-button:disabled {
  background: #505050;
  filter: contrast(50%);
}

.dialog {
  position: absolute;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.image-button {
  /*cursor: pointer;*/
  filter: contrast(50%);
}

.image-button:hover {
  filter: contrast(20%);
}

.image-button:active {
  filter: contrast(50%);
}
